   <div class="second_image">
     <div class="container">
       <div class ="text-color">
        <div class="row">
          <div class="col-md-9 col-md-offset-0">
          	<h1 class="new-biography">About</h1>
	        <div class="video">
		      <%= video_tag "about_us_01.mp4", class: "landing_video", autoplay: true, loop: true, muted: true, :size => 30*30 %>
		      <h3 class="new-biography">Contents</h3>

		        <h2 class="title", style="font-size: 30px; color: #fff;">
				  <i class="fas fa-sms">チャット機能</i><br>
			    </h2>
				<h5 class="text-center", style="font-size: 30px; color: #fff;"> ファンのみんなと仲良くなれる。vivilyのファンになってくれたあなたにはより音楽を好きになってほしい。チャット機能で音楽好きとつながろう！
				</h5>

                <h2 class="title", style="font-size: 30px; color: #fff;">
				  <i class="far fa-play-circle">未流通音源試聴</i><br>
			    </h2>
				<h5 class="text-center", style="font-size: 30px; color: #fff;">
				全国のCDショップ、サブスクリプションサービスなどでは聞くことができない音源が視聴可能！
				あなたのいいねやコメントで発売するかも！？
				</h5>

                 <h2 class="title", style="font-size: 30px; color: #fff;">
				  <i class="fab fa-youtube">未公開MOVIE試聴</i><br>
			    </h2>
				<h5 class="text-center", style="font-size: 30px; color: #fff;">
				Youtubeでも上げていないMVやメンバーのオフショット映像が視聴可能！
				</h5>

                <h2 class="title", style="font-size: 30px; color: #fff;">
				  <i class="fas fa-blog">Blog</i><br>
			    </h2>
				<h5 class="text-center", style="font-size: 30px; color: #fff;">
				メンバーの日々の日常をアップしていく。レコーディングの裏側やライブの舞台裏など貴重な姿をお見せしよう。
				</h5>
			</div>
		    </div>
	      </div>
        </div>
       </div>
   </div>