    <div class="top_image">
     <div class="container">
        <div class="row">
         <div class="wrapper">
          <div class="col-md-9 col-md-offset-0">
          	<h1 class="new-biography">Biography</h1>
	        <div class="video">
	          <span class="fadeInUp">
		      <%= video_tag "about_us_01.mp4", class: "landing_video", autoplay: true, loop: true, muted: true, :size => 30*30 %>
				<h5 class="text-center", style="font-size: 30px; color: black;"> 2017年4月結成、モーショングラフィックスやCGなどの特殊な映像と曲の世界観を融合させた<br>
			    エレクトロニックバンドvivily。大阪府内ライブハウス、イベントを中心に活動。ボーカルKDが<br>
			    作詞作曲を手掛ける。ギターTeppeiは作曲を手掛け、動画クリエイターとしても活動中。<br>
                昨年8月、Youtubeにて「腐敗神話」トレーラー公開。</h5>
               </span>
			</div>
		    </div>
		   </div>
	     </div>
       </div>
     </div>