<div class="about-content">
		<%= video_tag "vivily_OP_0917.mp4", class: "landing_video", autoplay: true, loop: false, muted: true, width: "100%" %>
	      	<div class="wow bounceInDown" data-wow-duration="1" data-wow-delay="8s">
	      		<h2 class="showtime"><%= link_to "It's Showtime!!", customers_homes_top_second_path %></h2>
			</div>
</div>