<%= form_with(model: [music, comment],url:customers_music_comments_path(@music),method: :post ) do |form| %>
  <div>
    <%= form.text_area :content %>
  </div>
  <div class="actions">
    <%= form.submit "コメントをする" %>
  </div>
<% end %>