
<%= link_to 'information', new_admin_information_path, remote: true, class: "btn btn-lg, btn-primary" %>
    <div id="information-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
	     <div class="post_index_m modal-content">
	   </div>
	</div>
  </div>

  <div id="tr">
  </div>

<%= link_to 'topic', new_admin_topic_path, remote: true, class: "btn btn-lg, btn-primary" %>
    <div id="topic-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
	     <div class="post_index_m modal-content">
	   </div>
	</div>
  </div>

   <div id="tr">
  </div>