<div class="top_image">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-0">
          <h2 class="new-movie">Movie</h2>
        <% @movie.each do |movie| %>
            <image class="img-fluid">
            	<%= link_to customers_movie_path(movie) do %>
			    <%= attachment_image_tag movie, :image, size: "200x200" %>
			    <% end %>
			</image>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>