<div class = "container">
	<div class = "row">
		 <div class="col-md-9 col-md-offset-0">
		 	<h1 class="new-live">Movie</h1>
		   <h1 class ="font-weight-bold">
             <%= @movie.title %>
           </h1>
           <div class = "movie">
              <%= video_tag @movie.movie.to_s, loop: false, controls: true, :playsinline => 'false', autoplay: true, size: "300×150", class: "content embed-responsive-video" %>
           </div>
            <div class="action">
              <%= link_to "Destroy", admin_movie_path(@movie),class:"btn-sm btn-danger", method: :delete, "data-confirm" => "Are you sure?" %>
            </div>
         </div>
    </div>
</div>
