<div class ="second_image">
  <div class="content">
    <div class="container">
      <div class ="text-color">
        <div class="row">
          <div class="col-md-9 col-md-offset-0">
          <h1 class="new-live">Blog</h1>
            <% @blog.each do |blog| %>
              <div class="example">
                <%= blog.created_at.strftime('%Y/%m/%d') %><br>
                <button type="button" class="btn btn-light">
                <%= link_to customers_blog_path(blog) do %>
                <%= blog.title %>
                <% end %>
              </button>
              </div>
                <hr>
            <% end %>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>

