 <div class="top_image">
  <div class="content">
     <div class="container">
        <div class="row">
          <h1 class="new-blog">Blog</h1>
              <div class="example">
                <p><%= @blog.created_at.strftime('%Y/%m/%d') %></p><br>
                <div class ="blog title">
                  <%= @blog.title %>
                </div>
                <hr>
                <p><%= @blog.details.html_safe %></p>
              </div>
              <hr>
          </div>
      </div>
    </div>
  </div>
