// Place all the styles related to the admin::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-content {
	position: relative;
}
.showtime {
	position: absolute;
    top: 60%;
    left: 31%;
    font-size: 100px;
}

.top_image {
  background-image:
    url("IMG_6183.JPG");
    background-size: cover;
    background-position: center;
    height: 1280px
}