/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "summernote-bs4";
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap');

.btn-default{
  background-image:
    url("IMG_6184.JPG");
}

.head_image {
  background-image:
    url("IMG_6184.JPG");
    background-size: cover;
    background-position: center;
    height: 200px
}

.head_image2 {
    background-image:
    url("header_black.png");
    background-size: cover;
    background-position: center;
    height: 200px
}

.header {
  background-image:
    url("IMG_6184.JPG");
    background-size: cover;
    background-position: center;
}

.header2 {
  background-image:
    url("header_black.png");
    background-size: cover;
    background-position: center;
}

.top_image {
  background-image:
    url("IMG_6183.JPG");
    background-size: cover;
    background-position: center;
    height: 1900px
}

.second_image {
    background-image:
    url("IMG_6194.JPG");
    background-size: cover;
    background-position: center;
    height: 2200px
}

.logo_image{
	background-image:
    url("vivily_logo.png");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 120px;
    float: left;
    position: relative;
    margin-top: 50px
}

.logo_image2{
    background-image:
    url("rogo_black.png");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 120px;
    float: left;
    position: relative;
    margin-top: 50px
}

.content {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  margin: 40px auto;
  background: rgba(0,0,255,0);
  width: 100%;
  max-width: 960px;
  border-radius: 5px;
  padding-bottom: 32px;
}

.navbar {
	display: flex;
    padding: 0 50px;
    margin-bottom: 0px;
}
.float-right {
	display: flex;
    padding: 0 50px;
}

header {
	overflow-x: hidden;
}
.navber {
	position: relative;
}
li {
	list-style: none;
}

li {
	font-family: 'Just Another Hand', cursive;
	font-size: 25px;
}
nav ul li {
    float: left;
    position: relative;
    margin-left: 10px;
}
img {
	padding-bottom: 10px
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    margin: 0 auto;
    padding: 40px;
}
.box{
    background: #eee;
    height: 200px;
    margin-bottom: 100px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.index_content {
	display: flex;
}
.index_content_text {
	margin: 0 auto;
}

.new-disc{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-information{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-live{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-music{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-movie{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-topic{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}
.new-video{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-blog{
    font-family: 'Just Another Hand', cursive;
    font-size: 80px
}
.new-biography{
    font-family: 'Just Another Hand', cursive;
    font-size: 80px
}

.new-actions{
    margin-top: 20px;
}

.back{
    margin-top: 20px;
    font-family: 'Just Another Hand', cursive;
    font-size: 40px
}

.btn-circle-border-double {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  font-family: 'Just Another Hand', cursive;
  font-size: 30px
}

.btn-circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.btn-circle-border-double {
    position:fixed;
    right: 31px;
    bottom: 200px
}

.btn-circle-border-double-second {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  font-family: 'Just Another Hand', cursive;
  font-size: 30px
}

.btn-circle-border-double-second:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.btn-circle-border-double-second {
    position:fixed;
    right: 31px;
    bottom: 70px
}

.btn-circle-border-double-third {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  font-family: 'Just Another Hand', cursive;
  font-size: 30px
}

.btn-circle-border-double-third:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.btn-circle-border-double-third {
    position:fixed;
    right: 31px;
    bottom: 330px
}

.text-color {
    color: #FFFFFF;
}
//スクロールアニメーション
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
span{
  width: 70%;
  margin: 0 0 100px;
}

.fadeInUp {
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}
//マウスオンアニメーション
